records:
  - target_date: 2026-05-10
    work_segment: REMOTE
    start_time: "09:00"
    end_time: "17:30"
    break1_start: "12:00"
    break1_end: "13:00"
    break2_start: ""
    break2_end: ""
    expense: "0"
    original_start: ""
    original_end: ""
    notes: ""
    sar_department_code: ""***"
    sar_project_code: "***"
    sar_process: ""***"
    sar_notes: ""***"
  - target_date: 2026-05-11
    work_segment: REMOTE
    start_time: "09:00"
    end_time: "17:30"
    break1_start: "12:00"
    break1_end: "13:00"
    break2_start: ""
    break2_end: ""
    expense: "0"
    original_start: ""
    original_end: ""
    notes: ""
    sar_department_code: ""***"
    sar_project_code: "***"
    sar_process: ""***"
    sar_notes: ""***"
